<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/acorn.css">
<script src="/static/acorn.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">