<nav>
    <div class="nav-left">
        <div class="nav-brand unselectable">
            <img src="/static/acorn.png" style="height: 84%">
        </div>
    </div>
    <div class="nav-right">
        <div class="nav-toggle">
            <span></span>
        </div>
    </div>
    <div class="nav-menu">
        <div class="nav-content">
            <a class="nav-link unselectable {{#if (eq path 'index')}} highlighted{{/if}}" {{#if (ne path 'index')}} href="/" {{/if}}>Home</a>
            <a class="nav-link unselectable {{#if (eq path 'about')}} highlighted{{/if}}" {{#if (ne path 'about')}} href="/about" {{/if}}>About</a>
            <a class="nav-link unselectable {{#if (eq path 'projects')}} highlighted{{/if}}" {{#if (ne path 'projects')}} href="/projects" {{/if}}>Projects</a>
        </div>
    </div>
</nav>
{{#if (ne path 'index')}}
    <div style="height: 76px">
        <br>
    </div>
{{/if}}