<div class="box" style="min-height: 100px">
    <img src="/static/acorn.png" style="margin: 7px; height: 86px; float: left;">
    <h1 style="font-weight: bold; margin: 8px 0 0 0">Acorn</h1>
    <p style="margin-top: 3px; font-size: 18px"></p>
</div>