<div class="spotlight">
    <div style="text-align: center;">
        <img src="/static/acorn.png" style="width: 60%">
        <h1 class="big">Im Acorn.</h1>
    </div>
</div>
<div class="container" style="text-align: center">
    <h2 style="font-weight: bold">Lorem ipsum. Wait, what was the text?</h2>
    <h2>Hello, im Acorn. Im a web developer, backend coder, and i like to mountain bike and swi. I go to school, and as such i dont really have much time to work on all of my projects. I am the Owner of <a href="https://metrix.design" style="color: #fff;">Metrix Web Design</a>. I enjoy setting up Discord servers, NGINX, Express applications, pretty much anything online or related to PCs. I like when stuff is organised and everything is done in order. I also prefer to work on things by myself.</h2>
</div>