@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
html {
    background-color: #F58720; 
    color: #fff;
}
* {
    font-family: 'Source Sans Pro', sans-serif;
}
h2 {
    font-weight: normal;
}
body {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}
nav {
    position: fixed;
    width: 100%;
    background-color: #DC791C;
    color: #fff; 
    height: 56px;
    z-index: 9;
    border-top: solid white 2px;
}
.nav-left {
    margin: 4 0 0 6;  
    float: left;
}
.nav-right {
    margin: 4 8 0 0; 
    float: right;
}
.nav-brand {
    font-size: 35px;
} 
.nav-toggle {
    display: block;
    padding: 17px 17px 0 17px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    height: 39px;
    margin-top: -6px;
}
.nav-toggle > span:before {
    position: absolute;
    top: 20px;
    right: 17px;
    display: block;
    height: 2px;
    width: 20px;
    background: #fff;
    content: '';
    box-sizing: content-box;
}
.nav-toggle > span:after {
    position: absolute;
    top: 26px;
    right: 17px;
    display: block;
    height: 4px;
    width: 20px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    content: "";
    box-sizing: content-box;
}
.nav-menu {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 50;
    right: 0;
    background-color: #DC791C;
    overflow: hidden;
    transition: 0.3s;
    margin-top: 6px;
}
.nav-content {
    text-align: right;
    margin: 12px 19px 0 0;
}
.nav-link {
    font-size: 18px;
    color: #fff;
    margin-left: 18px;
    text-decoration: none;
}
.nav-link.highlighted {
    text-decoration: underline;
}
.nav-link:hover {
    color: #ccc;
    cursor: pointer;
    user-select: none
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media screen and (min-width: 992px) {
    .container {
        margin: 0 192px;
    }
}
.spotlight {
    margin: auto 15px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1.big {
    font-size: 96px;
    line-height: 96px;
    margin: 0;
}
h3.small {
    font-size: 24px;
    margin: 0;
}
.box {
    margin: auto 15px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: lightgrey solid 1px
}